.contact {
    padding: 80px 20px 50px 20px;
    text-align: center;
}

.contact h2 {
    font-size: 2.5rem;
    color:#6eacda;
}

.contact p {
    font-size: 1.2rem;
    color: #6eacda;
    margin-bottom: 30px;
}

.social-icons {
    display: flex;
    justify-content: center; 
    gap: 30px; 
}

.social-icon {
    font-size: 2.5rem; 
    color: #6eacda; 
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2); 
    color: #e2e2b6; 
}
.email-link {
    margin-top: 10spx;
    font-size: 1rem;
    color: #6eacda; 
}

.email-link a {
    text-decoration: none;
    color: #e2e2b6; 
    transition: color 0.3s ease;
}

.email-link a:hover {
    color: #6eacda; 
}

